<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body style="font-family: Roboto">
    <h1 style="font-weight: normal; padding: 10px 0 0 35px; color: #59af73">This is the Home page</h1>
    <ul style='list-style-type: none'>
        <li><a style="text-decoration: none; color: #58687b" href='http://127.0.0.1:8000/books/'>Book List</a></li>
        <li><a style="text-decoration: none; color: #58687b" href='http://127.0.0.1:8000/admin/'>Admin</a></li>
    </ul>
</body>